<div class="alert-container">
  <div
    *ngFor="let alert of alerts"
    class="custom-alert"
    [ngClass]="{
      'custom-alert-success': alert.type === 'success',
      'custom-alert-error': alert.type === 'error',
      'custom-alert-info': alert.type === 'info',
      'custom-alert-warning': alert.type === 'warning'
    }">

    <div class="custom-alert-message">
      {{ alert.message }}
    </div>

    <button type="button" class="custom-alert-close" (click)="removeAlert(alert)">
      &times;
    </button>
  </div>
</div>