<div class="alert-container">
  <div
    *ngFor="let alert of alerts"
    class="custom-alert"
    [ngClass]="{
      'custom-alert-success': alert.type === AlertType.Success,
      'custom-alert-error': alert.type === AlertType.Error,
      'custom-alert-info': alert.type === AlertType.Info,
      'custom-alert-warning': alert.type === AlertType.Warning
    }"
  >
    <span>{{ alert.message }}</span>

    <button type="button" class="alert-close" (click)="removeAlert(alert)">
      ×
    </button>
  </div>
</div>