<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': account }">

  <!-- navbar -->
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="account">
    <div class="navbar-nav">

      <a
        class="nav-item nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <a
        class="nav-item nav-link"
        routerLink="/profile"
        routerLinkActive="active">
        Profile
      </a>

      <!-- Account management for Admin only -->
      <a
        class="nav-item nav-link"
        routerLink="/admin/accounts"
        routerLinkActive="active"
        *ngIf="isAdmin">
        Accounts
      </a>

      <a
        class="nav-item nav-link"
        style="cursor: pointer;"
        (click)="logout()">
        Logout
      </a>

    </div>
  </nav>

  <!-- alert messages -->
  <alert></alert>

  <!-- routed pages appear here -->
  <div class="container pt-4 pb-4">
    <router-outlet></router-outlet>
  </div>

</div>